$primary-clr: lightgrey;

body {
  background: $primary-clr;
}

img {
  width: 200px;
  border-radius: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.buns {
  grid-columns: auto / span 2;
  grid-rows: auto / span 2;
}
